body {
  margin: 0;
}

#app-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#score-container {
  font-family: 'Press Start 2P';
  font-size: 3em;
  color: #552583;
  position: absolute;
  top: 150px;
}

#hearts-container {
  position: absolute;
}