body {
  margin: 0;
}

.hidden {
  display: none !important;
}

/*-- App --*/

#app {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  width: 375px;
}

/*-- Start Section --*/

.start-container {
  background-color: #fdba21;
  width: 375px;
  height: 667px;
  border-radius: 24px;
  overflow: hidden;
}

.start-container,
.start-container .taco-text,
.start-container .tuesday-text,
.start-container .lebron-start-head,
.start-container .start-game-btn {
  position: relative;
  z-index: 2;
}

.start-container .tacos {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.start-container .taco {
  background: url("../images/svg/Taco.svg") no-repeat center;
  z-index: 1;
  position: absolute;
}

.start-container .taco-text {
  background: url("../images/svg/Taco_Text.svg") no-repeat center;
  margin-top: 80px;
  margin-bottom: 20px;
  height: 70px;
}

.lebron-start-head {
  background: url("../images/Lebron_Head_Main_Outline.png") no-repeat center;
  height: 335px;
  background-size: contain;
}

.start-container .tuesday-text {
  background: url("../images/svg/Tuesday_Text.svg") no-repeat center;
  height: 50px;
}

.start-container .start-game-btn {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin: 24px auto;
  align-items: center;
  cursor: pointer;
  font-family: "Press Start 2P";
  color: #552583;
  text-transform: uppercase;
}

/*-- Game Section --*/

.game-container {
  display: flex;
  justify-content: center;
  height: 667px;
}

.hearts-container {
  display: flex;
  top: 10px;
  left: 10px;
  position: absolute;
}

.hearts-container .heart {
  background: url("../images/svg/Health.svg") no-repeat center;
  background-size: contain;
  height: 40px;
  width: 40px;
}

.hearts-container .heart.fade {
  opacity: 0.4;
}

.score-container {
  font-family: "Press Start 2P";
  color: #552583;
  font-size: 3em;
  position: absolute;
  top: 150px;
}

.game-container .game-area canvas {
  border-radius: 24px;
}

/*-- Play Again Section --*/

.play-again-container {
  display: flex;
  justify-content: center;
  width: 375px;
  position: absolute;
  z-index: 2;
  flex-direction: column;
  align-items: center;
}

.play-again-btn {
  background: url("../images/svg/Play.svg") no-repeat center;
  background-size: contain;
  height: 100px;
  width: 100px;
  margin: 81px auto 24px;
  cursor: pointer;
}

.play-again-text {
  font-family: "Press Start 2P";
  color: #552583;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}

.play-again-text div {
  margin: 24px 0px;
}

/*-- Settings --*/

.settings {
  background: url("../images/svg/Settings.svg") no-repeat center;
  height: 24px;
  width: 24px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 5;
}

.settings-display {
  width: 300px;
  position: absolute;
  background-color: #fff;
  top: 24px;
  left: -312px;
  z-index: 5;
  padding: 8px;
  font-family: "Press Start 2P";
  text-transform: capitalize;
  line-height: 1.5;
  opacity: 0.8;
}
