.StartGameButton {
    color: #552583;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 40px;
}

.StartGameButton a {
    text-decoration: none;
    text-transform: uppercase;
}